In [1]:
import os
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori

In [2]:
pwd

'C:\\Users\\ABC\\3. Edureka'

In [ ]:
os.chdir('C:\\Users\\ABC\\6. Datasets')
os.listdir()

In [76]:
df = pd.read_csv('ARM - Bakery.csv')

In [77]:
df['Items'] = df['Items'].str.strip()

In [78]:
df['Items'].apply(type).unique()

array([<class 'str'>], dtype=object)

In [79]:
df['Daypart'].value_counts()

Afternoon    11569
Morning       8404
Evening        520
Night           14
Name: Daypart, dtype: int64

In [80]:
basket = df[df['Daypart']=='Afternoon'].groupby(['TransactionNo','Items'])['DateTime'].sum().unstack().reset_index().fillna(0).set_index('TransactionNo')
basket

Items,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Bowl Nic Pitt,Bread,...,Tartine,Tea,The Nomad,Tiffin,Toast,Truffles,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
TransactionNo,,,,,,,,,,,,,,,,,,,,,
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,2016-10-30 12:15:29,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9680,0,0,0,0,0,0,0,0,0,2017-09-04 14:24:03,...,0,0,0,0,0,0,0,0,0,0
9681,0,0,0,0,0,0,0,0,0,0,...,0,2017-09-04 14:30:09,0,0,0,2017-09-04 14:30:09,0,0,0,0
9682,0,0,0,0,0,0,0,0,0,0,...,0,2017-09-04 14:32:58,0,0,0,0,0,0,0,0
9683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [81]:
def encode(x):
    if x== 0:
        return 0
    if x!= 0:
        return 1

In [82]:
basket = basket.applymap(encode)
basket

Items,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Bowl Nic Pitt,Bread,...,Tartine,Tea,The Nomad,Tiffin,Toast,Truffles,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
TransactionNo,,,,,,,,,,,,,,,,,,,,,
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9680,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9681,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
9682,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
9683,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9684,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
freq = apriori(basket, min_support=0.005, use_colnames=True)
freq

C:\Users\ABC\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                  itemsets
0    0.044606               (Alfajores)
1    0.006092                (Art Tray)
2    0.013166                (Baguette)
3    0.005895                (Bakewell)
4    0.305758                   (Bread)
..        ...                       ...
125  0.008057  (Sandwich, Cake, Coffee)
126  0.013559       (Tea, Coffee, Cake)
127  0.006485  (Coffee, Sandwich, Soup)
128  0.008646   (Sandwich, Coffee, Tea)
129  0.005109      (Scone, Coffee, Tea)

[130 rows x 2 columns]

In [84]:
rules = association_rules(freq, metric='lift', min_threshold=1)

rules = rules.sort_values(by='lift', ascending = False)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
59,(Sandwich),(Coke),0.115936,0.027510,0.009236,0.079661,2.895678,0.006046,1.056665,0.740510
58,(Coke),(Sandwich),0.027510,0.115936,0.009236,0.335714,2.895678,0.006046,1.330849,0.673177
72,(Mineral water),(Sandwich),0.021419,0.115936,0.005699,0.266055,2.294838,0.003215,1.204537,0.576589
73,(Sandwich),(Mineral water),0.115936,0.021419,0.005699,0.049153,2.294838,0.003215,1.029167,0.638234
118,(Cake),"(Hot chocolate, Coffee)",0.136766,0.030261,0.009236,0.067529,2.231518,0.005097,1.039966,0.639310
...,...,...,...,...,...,...,...,...,...,...
101,"(Pastry, Coffee)",(Bread),0.025545,0.305758,0.007860,0.307692,1.006328,0.000049,1.002795,0.006453
43,(Coffee),(Muffin),0.459815,0.040479,0.018668,0.040598,1.002935,0.000055,1.000124,0.005418
42,(Muffin),(Coffee),0.040479,0.459815,0.018668,0.461165,1.002935,0.000055,1.002505,0.003050
75,(Tea),(Muffin),0.169778,0.040479,0.006878,0.040509,1.000736,0.000005,1.000031,0.000886
74,(Muffin),(Tea),0.040479,0.169778,0.006878,0.169903,1.000736,0.000005,1.000151,0.000767